[submodule "android-client-dewallet"]
	path = android-client-dewallet
	url = git@github.com:gerywahyunugraha/android-client-dewallet.git
[submodule "dewallet-identity-explorer"]
	path = dewallet-identity-explorer
	url = https://github.com/gerywahyunugraha/dewallet-identity-explorer.git
[submodule "dewallet-identity"]
	path = dewallet-identity
	url = git@github.com:gerywahyunugraha/dewallet-identity.git
[submodule "dewallet-transaction"]
	path = dewallet-transaction
	url = git@github.com:gerywahyunugraha/dewallet-transaction.git
